@import "utilities.css";

:root {
    --primary : #F2C0DD;
    --light : #FCFFEB;
    --dark : #25092E;
}

html {
    scroll-behavior: smooth;
}

body {
     font-family: "neighbor", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary);
    border: 3px solid var(--dark);
    padding-left: 200px;
    padding-right: 200px;
    height: 120px;
}

.container .right a {
    width: 184px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
    background-color: var(--primary);
    color: var(--dark);
    text-decoration: none;
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
}

.container .right a:hover {
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
}

.container .right a:active {
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
}



/* header nav {
    padding: 4rem 0;
} */

.about {
    background: var(--light);
    border-bottom: 3px solid var(--dark);
    border-left: 3px solid var(--dark);
    border-right: 3px solid var(--dark);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* .about .left {
    padding-left: 450px;
} */

.about .left h1 {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 67px;
}

.about .left h1 span {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.about .left p {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.interests {
    background: var(--light);
}

.interests .myinterests {
    background: var(--dark);
    padding-top: 70px;
    padding-bottom: 70px;

}

.interests .myinterests h1 {
    color: var(--primary);
    text-align: center;
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 94px;
}

.interests .interestscontents {
    display: flex;
    justify-content: center;
}

.interests .left {
    width: 960px;
    max-height: 730px;
    background: var(--light);
    border: 3px solid var(--dark);
    padding: 50px;
}

.interests .right {
    width: 960px;
    max-height: 730px;
    background: var(--light);
    border: 3px solid var(--dark);
    padding: 50px;
}

.interests .left .taeyeonright h1 {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 90px;
    color: var(--dark);
}

.interests .right .wizardingleft h1 {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 90px;
    color: var(--dark);
}

.interests .left .taeyeonright p {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--dark);
}

.interests .right .wizardingleft p {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--dark);
}

.contact .contactme {
    background: var(--primary);
    padding-left: 200px ;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 3px solid var(--dark);
}

.contact .contactme h1 {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 94px;
}

.contact .contactme p {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
}

.contact .contactcontents {
    display: flex;
    justify-content: center;    
}

.contact .contactcontents .left {
    width: 960px;
    height: 200px;
    border: 3px solid var(--light);
    background: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact .contactcontents .right {
    width: 960px;
    height: 200px;
    border: 3px solid var(--light);
    background: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* .contact .container {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 200px;
    background: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    color: var(--light);
    text-align: center;
    
}  */
/* .contact .container .left {
    background: var(--dark);
    border: 3px solid var(--light);
}

.contact .container .right {
    background: var(--dark);
    border: 3px solid var(--light);
} */







/* 
.contact .container .right {

} */


/* .about .right img {
    width: 40px;
}
 */

/* .btn {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px ;
    padding-right: 40px ;
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26pt;
    color: var(--dark);
}

.btn-primary {
    background: var(--primary);
    border: 5px solid var(--dark);
} */