@import "utilities.css";

:root {
    --primary : #F2C0DD;
    --light : #FCFFEB;
    --dark : #25092E;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
     font-family: "neighbor", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary);
    border: 3px solid var(--dark);
    padding-left: 200px;
    padding-right: 200px;
    height: 120px;
}

.container .right a {
    width: 184px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
    background-color: var(--primary);
    color: var(--dark);
    text-decoration: none;
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
}

.container .right a:hover {
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
}

.container .right a:active {
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
}



/* header nav {
    padding: 4rem 0;
} */

.about {
    background: var(--light);
    border-bottom: 3px solid var(--dark);
    border-left: 3px solid var(--dark);
    border-right: 3px solid var(--dark);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* .about .left {
    padding-left: 450px;
} */

.about .left h1 {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 67px;
}

.about .left h1 span {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.about .left p {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.interests {
    background: var(--light);
}

.interests .myinterests {
    background: var(--dark);
    padding-top: 70px;
    padding-bottom: 70px;

}

.interests .myinterests h1 {
    color: var(--primary);
    text-align: center;
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 94px;
}

.interests .interestscontents {
    display: flex;
    justify-content: center;
}

.interests .interestscontents .left {
    width: 960px;
    max-height: 730px;
    background: var(--light);
    border: 3px solid var(--dark);
    padding: 50px;
}

.interests .interestscontents .right {
    width: 960px;
    max-height: 730px;
    background: var(--light);
    border: 3px solid var(--dark);
    padding: 50px;
}

.interests .interestscontents .left .taeyeonright h1 {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 90px;
    color: var(--dark);
}

.interests .interestscontents .right .wizardingleft h1 {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 90px;
    color: var(--dark);
}

.interests .interestscontents .left .taeyeonright p {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--dark);
}

.interests .interestscontents .right .wizardingleft p {
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--dark);
}

.contact .contactme {
    background: var(--primary);
    padding-left: 200px ;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 3px solid var(--dark);
}

.contact .contactme h1 {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 94px;
}

.contact .contactme p {
    color: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
}

.contact .contactcontents {
    display: flex;
    justify-content: center;    
}

.contact .contactcontents .left {
    width: 960px;
    height: 200px;
    border: 3px solid var(--light);
    background: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact .contactcontents .right {
    width: 960px;
    height: 200px;
    border: 3px solid var(--light);
    background: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site-main-wrapper {
    position: relative;
}

.site-main-wrapper .burger {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 11;
    display: none;
}

.site-main-wrapper .burger button {
    background: none;
    border: none;
    outline: none;
}

.site-main-wrapper .burger button img {
    width: 50px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(200%);
    transition: all .8s ease-in-out;
    z-index: 11;
}

.close {
    position: fixed;
    top: 30px;
    right: 40px;
    background: none;
    border: none;
    outline: none;
}

.open {
    transform: translateX(0);
}

.close img {
    width: 50px;
}

.mobile-nav ul {
    list-style-type: none;
    text-align: center;
    padding-top: 60px;
}

.mobile-nav ul li a {
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    color: var(--dark);
    text-decoration: none;
}

.mobile-nav ul li {
    margin: 4rem;
}

@media (max-width: 1630px) {
    body #main-nav {
        display: none;
        
    }

    .site-main-wrapper .burger {
        display: block;
    }
/* 
    body #about {
        padding-left: 120px;
        padding-right: 120px;
    } */

    /* .about .right img {
        width: 518px;
    } */

    /* .about .left img {
        width: 268px;
    }
    .about .left h1 {
        font-size: 46px;
    }

    .about .left p {
        font-size: 20px;
    } */
}

@media (max-width: 414px) {
    .about {
        flex-direction: column-reverse;
        padding-left: 40px;
        padding-right: 40px;
    }

     .about .right img {
        width: 298px;
        padding-top: 40px;
    }

    .about .left img {
        width: 202px;
    }

    .about .left h1 {
        font-size: 38px;
    }

    .about .left p {
        font-size: 20px;
    }

    .interests .myinterests {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .interests .myinterests h1 {
        font-size: 40px;
    }

    .interests .interestscontents {
        flex-direction: column;
    }

    .interests .interestscontents .left {
        width: 414px;
        max-height: 592px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--light);
    }

    .interests .interestscontents .left img {
        width: 177px;
        padding-bottom: 30px;
    }

    .interests .interestscontents .left .taeyeonright h1 {
        font-size: 55px;
        text-align: center;
    }

    .interests .interestscontents .left .taeyeonright p {
        font-size: 18px;
        text-align: center;
        margin-top: -6%;
    }

    .interests .interestscontents .right {
        width: 414px;
        max-height: 692px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background: var(--light);
    }

    .interests .interestscontents .right img {
        width: 220px;
        padding-bottom: 30px;
    }

    .interests .interestscontents .right .wizardingleft h1 {
        font-size: 55px;
        text-align: center;
    }

    .interests .interestscontents .right .wizardingleft p {
        font-size: 18px;
        text-align: center;
        margin-top: -6%;
    }

    .contact .contactme {
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .contact .contactme h1 {
        font-size: 40px;
    }
    
    .contact .contactme p {
        font-size: 26px;
    }

    .contact .contactcontents {
        display: flex;
        flex-direction: column;
    }

    .contact .contactcontents .left {
        max-width: 414px;
        max-height: 74px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact .contactcontents .right {
        max-width: 414px;
        max-height: 74px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact .contactcontents .left h1 {
        font-size: 18px;
    }

    .contact .contactcontents .right h1 {
        font-size: 18px;
    }
}    

/* .contact .container {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 200px;
    background: var(--dark);
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    color: var(--light);
    text-align: center;
    
}  */
/* .contact .container .left {
    background: var(--dark);
    border: 3px solid var(--light);
}

.contact .container .right {
    background: var(--dark);
    border: 3px solid var(--light);
} */

/* 
.contact .container .right {

} */


/* .about .right img {
    width: 40px;
}
 */

/* .btn {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px ;
    padding-right: 40px ;
    font-family: "neighbor", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26pt;
    color: var(--dark);
}

.btn-primary {
    background: var(--primary);
    border: 5px solid var(--dark);
} */